{% extends 'base.html.twig' %}

{% block body %}
    <div class="infos">
        <p>
            Mes infos
        </p>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | A propos
{% endblock %}

